$ ->
  if $('#map').length

    normal = L.icon({
        iconUrl: "<%= image_path('marker1.png')%>",
        iconSize: [15, 15],
        popupAnchor: [0, -15],
    })

    wheel_chair = L.icon({
        iconUrl: "<%= image_path('marker2.png')%>",
        iconSize: [17, 17],
        popupAnchor: [0, -15],
    })

    wheelchair_stations = $("#map").data("wheelchairStations")
    non_wheel_chair_stations = $("#map").data("withoutWheelchairStations")
    map = L.map "map"

    L.tileLayer('http://{s}.tiles.mapbox.com/v3/yoyostile.i4lma974/{z}/{x}/{y}.png', {
        # attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a></a>',
        attribution: "<a href='https://www.mapbox.com/about/maps/' target='_blank'>Maps &copy; Mapbox &copy; OpenStreetMap</a>",
        maxZoom: 16,
        detectRetina: true
    }).addTo(map)

    points = []
    markers = []

    for result in wheelchair_stations
      marker = L.marker(result.geo, { icon: wheel_chair, station_id: result.number })
      marker.bindPopup("<img src='<%= image_path('rollstuhl.png')%>' style='margin-right:10px;float:left'><h3>#{result.number}</h3>#{result.name}<br>#{result.street}")
      points.push result.geo
      markers.push marker

    for result in non_wheel_chair_stations
      marker = L.marker(result.geo, { icon: normal, station_id: result.number })
      marker.bindPopup("<h3>#{result.number}</h3>#{result.name}<br>#{result.street}")
      points.push result.geo
      markers.push marker

    markersGroup = L.layerGroup markers
    markersGroup.addTo(map)

    if points.length > 0
      map.fitBounds(points)
    else
      map.setView([50.938056, 6.956944], 13)
    # map.fitWorld()

    validMarkers = []
    validMarkersGroup = L.layerGroup []
    $('form').on 'submit', map, (event) ->
      event.preventDefault()
      number = parseInt $('form input#number').val()
      if isNaN(number)
        resetAllLayers()
      else
        validMarkers = []
        for marker in markers
          if marker.options.station_id == number
            validMarkers.push marker
        if validMarkers.length > 0
          newPos = $('.headline').position().top + $('headline').height() + 90
          $('#slogan').fadeOut()
          $('#logo').fadeOut()
          $('#search-wrapper').animate({ top: newPos })
          $('.box').animate({ 'margin-left': 30 })
          markersGroup.clearLayers()
          validMarkersGroup = L.layerGroup validMarkers
          validMarkersGroup.addTo(map)
          map.setView validMarkers[0]._latlng, 20
          for marker in validMarkers
            marker.openPopup()
        else
          notFound()

  resetAllLayers = ->
    validMarkersGroup.clearLayers()
    markersGroup.clearLayers()
    validMarkers = []
    markersGroup = L.layerGroup markers
    markersGroup.addTo map
    map.fitBounds points

  notFound = ->
    $('#slogan .slogan').hide()
    $('#slogan .not-found').show()
    $('#logo').fadeIn()
    $('#slogan').fadeIn()
    resetAllLayers()
