$ ->
  if $('#map').length

    normal = L.icon({
        iconUrl: "<%= image_path('marker1.png')%>",
        iconSize: [15, 15],
        popupAnchor: [0, -15],
    })

    wheel_chair = L.icon({
        iconUrl: "<%= image_path('marker2.png')%>",
        iconSize: [17, 17],
        popupAnchor: [0, -15],
    })

    wheelchair_stations = $("#map").data("wheelchairStations")
    non_wheel_chair_stations = $("#map").data("withoutWheelchairStations")
    map = L.map "map"

    L.tileLayer('http://{s}.tiles.mapbox.com/v3/yoyostile.j66f39do/{z}/{x}/{y}.png', {
        # attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a></a>',
        attribution: "<a href='https://www.mapbox.com/about/maps/' target='_blank'>Maps &copy; Mapbox &copy; OpenStreetMap</a>",
        maxZoom: 16,
        detectRetina: true
    }).addTo(map)

    points = []
    markers = []

    for result in wheelchair_stations
      marker = L.marker(result.geo, { icon: wheel_chair, station_id: result.number })
      pop = L.popup({ 'className': 'box' }).setContent(
        "<img src='<%= image_path('rollstuhl.png')%>' style='margin-left:10px;float:right'>
        <h3>Wahllokalnummer: #{result.number}</h3>
        Gebäude: #{result.name}
        <br>
        Adresse: #{result.street}
        <br>
        Telefon: #{result.phone}"
      )
      marker.bindPopup(pop)
      points.push result.geo
      markers.push marker

    for result in non_wheel_chair_stations
      marker = L.marker(result.geo, { icon: normal, station_id: result.number })
      pop = L.popup({ 'className': 'box' }).setContent(
        "<h3>Wahllokalnummer: #{result.number}</h3>
        Gebäude: #{result.name}
        <br>
        Adresse: #{result.street}
        <br>
        Telefon: #{result.phone}"
      )
      marker.bindPopup(pop)
      points.push result.geo
      markers.push marker

    markersGroup = L.layerGroup markers
    markersGroup.addTo(map)

    if points.length > 0
      map.fitBounds(points)
    else
      map.setView([50.938056, 6.956944], 13)
    # map.fitWorld()

    validMarkers = []
    validMarkersGroup = L.layerGroup []
    $('form').on 'submit', map, (event) ->
      event.preventDefault()
      number = parseInt $('form input#number').val()
      if isNaN(number)
        $.get '/search/' + '?c=' + $('form input#city').val() + '&q=' + $('form input#number').val(), (data) ->
          if data && data.vote_district_id != undefined
            showStation data.vote_district_id
          else
            ga('send', 'event', 'search', 'error', $('form input#number').val())
            notFound("Bitte geben sie Straße Hausnummer.")
      else
        showStation number

  $('.leaflet-marker-icon').on 'click', (e) ->
    moveBoxes();

  showStation = (number) ->
    validMarkers = []
    for marker in markers
      if marker.options.station_id == number
        validMarkers.push marker
    if validMarkers.length > 0
      $('#slogan').hide()
      # $('#logo').fadeOut()
      moveBoxes()
      markersGroup.clearLayers()
      validMarkersGroup = L.layerGroup validMarkers
      validMarkersGroup.addTo(map)
      map.setView validMarkers[0]._latlng, 20
      ga('send', 'event', 'search', 'success')
      for marker in validMarkers
        marker.openPopup()
    else
      ga('send', 'event', 'search', 'error', number)
      notFound()

  moveBoxes = ->
    newPos = $('.headline').position().top + $('headline').height()
    $('#search-wrapper').animate({ top: newPos })
    $('#search-wrapper .box').animate({ 'margin-left': 30, 'margin-top': 30 })

  resetAllLayers = ->
    validMarkersGroup.clearLayers()
    markersGroup.clearLayers()
    validMarkers = []
    markersGroup = L.layerGroup markers
    markersGroup.addTo map
    map.fitBounds points

  notFound = (text) ->
    text = if text != '' then text else 'Kein passendes Wahllokal gefunden.'
    $('#slogan .slogan').hide()
    $('#slogan .not-found').html(text)
    $('#slogan .not-found').show()
    $('#slogan .not-found').animate({
      color: "#ff0000"
    }, 300 ).animate({
      color: "#fff"
    }, 600 );
    # $('#logo').fadeIn()
    $('#slogan').fadeIn()
    if validMarkers.length > 0
      resetAllLayers()

  $('#logo a').on 'click', ->
    $('#search-form form').submit()
