%link{ rel: "image_src", href: image_url('wahllokale_online_og.jpg') }
%meta{property: "og:image", content: image_url('wahllokale_online_og.jpg')}
%meta{property: "og:image:alt", content: "Wahllokalfinder Website. Finde dein Wahllokal zur Bundestagswahl."}

%meta{property: "og:type", content: "Website"}
%meta{property: "og:locale", content: "de_DE"}

%meta{property: "og:title", content: "Finde dein Wahllokal zur Bundestagswahl | Wahllokalfinder"}
%meta{property: "og:description", content: "Hier findest du eine Übersicht aller Wahllokale: Wähle deine Stadt aus, gib deine Adresse ein und finde dein Wahllokal in wenigen Sekunden."}
