- cities_meta_string = ''
- @cities.each{|city| cities_meta_string+= city.name + ", "}

%meta{charset: "UTF-8"}
%meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
%meta{name: "keywords", content: "Wahllokale, Bundestagswahl, Wahllokalfinder, #{cities_meta_string}, Wählen, Abstimmung, Stimmabgabe, Wahl"}
%meta{name: "description", content: "Hier findest du eine Übersicht aller Wahllokale: Wähle deine Stadt aus, gib deine Adresse ein und finde dein Wahllokal in wenigen Sekunden."}
%meta{name: "subject", content: "Finde dein Wahllokal zur Bundestagswahl"}>
%meta{name: "language", content: "DE"}
%meta{name: "url", content: "http://www.wahllokale.online"}
