-# since there is a facebook bug in social-share-button gem
-# an implementation has been added to cover the bug
%p TEILEN
.social-share-button
  %a{href: "http://www.facebook.com/sharer/sharer.php?u=#{request.original_url}", target: '_blank', class: 'ssb-icon ssb-facebook'}

= social_share_button_tag
