.cities
  display: block
  width: 100%
#boxes-wrapper
  color: #fff
  position: fixed
  top: 20%
  width: 100%
  z-index: 1000
  pointer-events: none
  .featured-box
    pointer-events: auto
    margin: 0 20px
    width: 390px
    background-color: $transparent-bg
    text-align: center
    +transition(width 0.5s)
  .search-box
    float: right
#map
  .marker
    width: 200px
    cursor: pointer
    text-align: center
    overflow: visible
    word-wrap: break-word
    align-items: center
    pointer-events: auto
    a
      font-family: 'Oswald'
      font-size: 36px
      text-decoration: none
      color: #FFF
      padding: 0px 20px 4px 20px
      background-color: $transparent-bg-lighter
      +transition(background 0.5s)
      &:hover
        background-color: $transparent-bg
        +transition(background 0.5s)
